.modall-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  padding: 20px; /* Додаємо паддінг, щоб не прилягала до країв */
  box-sizing: border-box;
}

.modall-content {
  background-color: #fff8e8;
  border-radius: 20px;
  border: 3px solid #F85A75;
  width: 1200px !important;  /* Зафіксована ширина */
  max-width: none !important; /* Відмінити будь-які max-width */
  min-width: 1200px !important; /* Мінімальна ширина */
  padding: 24px 32px;
  position: relative;
  box-sizing: border-box;
  font-family: 'Unbounded', sans-serif;
  overflow-wrap: break-word;
  max-height: 90vh;
  overflow-y: auto;
}

.modall-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #F85A75;
  border: 2px solid #F85A75;
  color: white;
  font-weight: 600;
  border-radius: 9999px;
  padding: 8px 24px;
  cursor: pointer;
}

.modall-close-btn:hover {
  background-color: #C33048;
}

.modall-body {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.modall-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modall-img {
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
  object-fit: cover;
}

.save-btn {
  margin-top: 16px;
  padding: 8px 24px;
  border-radius: 9999px;
  border: 2px solid #F85A75;
  background-color: white;
  color: #F85A75;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  user-select: none;
  transition: background-color 0.3s ease;
}

.save-btn.saved {
  background-color: #F85A75;
  color: white;
  border-color: #F85A75;
}

.modall-right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modall-title {
  font-size: 38px;
  font-weight: 700;
  color: #F85A75;
  margin-bottom: 16px;
  margin-right: 70px;
}

.modall-description {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  flex-grow: 1;
}

.modall-info p {
  margin-bottom: 50px;
  font-size: 16px;
  color: #000;
}

.modall-visit-btn {
  margin-top: 24px;
  align-self: flex-end;
  padding: 16px 36px;
  background-color: #F85A75;
  border: none;
  border-radius: 9999px;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.modall-visit-btn:hover {
  background-color: #C33048;
}
