.profile-bg-image2 {
  position: fixed; /* Змінив з absolute на fixed для кращого покриття */
  width: 1750px;
  height: 900px;
  z-index: -1; /* Нижче за Header */
  opacity: 1;
  object-fit: cover; /* Щоб зображення повністю покривало фон */
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 50px;
}

.recommendations-page {
  position: relative; /* Додаємо для створення контексту накладання */
  min-height: 890px;
  padding: 30px ;
  background-color: #FFCEC8;
  z-index: 1; /* Вище за фон, але нижче за Header */
}
.header {
  position: relative;
  z-index: 2; /* Вище за все */
  
}