.test-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFCEC8;
    font-family: Arial, sans-serif;
  }
  
  .test-wrapper {
    background-color: #FFF8E8;
    width: 1752px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 39px auto;
  }
  
  .test-content {
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .test-title {
    font-size: 64px;
    font-weight: bold;
    color: #000;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .progress-container {
    background-color: #FFCEC8;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
  }
  
  .progress-bar-wrapper {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    justify-content: center; /* Центруємо прогрес-бар і відсотки */
  }
  
  .progress-text {
    font-size: 29px;
    font-weight: bold;
    color: #F85A75;
  }
  
  .progress-bar-container {
    position: relative;
    width: 75%;
    height: 10px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #F85A75;
    border-radius: 30px;
    transition: width 0.3s ease-in-out;
  }
  
  .question-block {
    margin: 1rem 0;
    text-align: left;
  }
  
  .question-text {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin-bottom: 1.5rem;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }
  
  .options-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 48%;
  }
  
  .option-button {
    padding: 1rem;
    font-size: 22px;
    background-color: #FFCEC8;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .option-button:hover {
    background-color: #F85A75;
    color: #FFF;
  }
  
  .option-button.selected {
    background-color: #F85A75;
    color: #FFF;
  }
  
  .finish-test-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 26px;
    font-weight: bold;
    background-color: #F85A75;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .finish-test-button:hover {
    background-color: #E04A65;
  }